body.theme-light {
    background-color: #fff;
}

body.theme-dark {
    background-color: #121212;
}


body.theme-light ::selection{
    background-color: black;
    color: white;
}

body.theme-dark ::selection{
    background-color: white;
    color: black;
}