/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* Noto Sans Thai */
@font-face {
	font-family: NotoSans;
	src: url('./NotoSansThaiUI-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: NotoSans;
	src: url('./NotoSansThaiUI-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: NotoSans;
	src: url('./NotoSansThaiUI-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: NotoSans;
	src: url('./NotoSansThaiUI-Bold.ttf') format('truetype');
	font-weight: 600;
}

body,
* {
	font-family: NotoSans, NotoSansThai, Arial, Helvetica, sans-serif;
}
